config BRAIN_2G
	bool
	default y if TARGET_PWA7200 || TARGET_PWA7400

config BRAIN_3G_4G
	bool
	default y if TARGET_PWSH1 || TARGET_PWSH2 || TARGET_PWSH3 || \
	TARGET_PWSH4 || TARGET_PWSH5 || TARGET_PWSH6 || TARGET_PWSH7

config LCD_X
	string "LCD resolution X"
	default 480 if TARGET_PWA7200 || TARGET_PWA7400
	default 800 if TARGET_PWSH1 || TARGET_PWSH2
	default 854 if TARGET_PWSH3 || TARGET_PWSH4 || TARGET_PWSH5 || \
    TARGET_PWSH6 || TARGET_PWSH7

config LCD_Y
	string "LCD resolution Y"
	default 320 if TARGET_PWA7200 || TARGET_PWA7400
	default 480 if TARGET_PWSH1 || TARGET_PWSH2 || TARGET_PWSH3 || \
	TARGET_PWSH4 || TARGET_PWSH5 || TARGET_PWSH6 || TARGET_PWSH7
